.wrapper{
    background-color: #07080a;
}
.content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 15px;
}
.about{

}
.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blockTitle .title{
    font-weight: 800;
    margin: 0 0 60px 0;
    font-size: 45px;
    color: white;
    text-align: center;
}
.title{
    font-weight: 800;
    margin: 60px 0;
    font-size: 25px;
    color: white;
}
@media  (max-width: 576px){
    .block{
        justify-content: center;
    }
}