.wrapper{
    background-color: black;
}
.content{
    padding: 120px 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about_me{
    color: white;
}
.name{
    font-weight: 600
}
.photo{
    max-width: 500px;
    width: 100%;
}
.photo img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px
}
h3{
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 400;
    color: white;
}
p{

}
.text{
    color: #a9afc3 ;
    font-size: 120%;
    text-align: center;
}
.textBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.line1{
    position: relative;
    top: 50%;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 120%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.animTypewriter{
    animation: typewriter 4s steps(30) 1s 1 normal both,
    blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 14em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
@media  (max-width: 992px){
    .content{
        justify-content: center;
    }
}