.wrapper{
    background-color: black;
}
.content{
    padding: 120px 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about_me{
    color: white;
}
.name{
    font-weight: 600
}
.photo{
    max-width: 500px;
    width: 100%;
}
.photo img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px
}
h3{
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 400;
    color: white;
}
p{
    color: #a9afc3
}
/*span {*/
/*    animation-duration: 3s;*/
/*    animation-name: slidein;*/
/*}*/

/*@keyframes slidein {*/
/*    from {*/
/*        margin-left: 100%;*/
/*        width: 200%;*/
/*    }*/

/*    to {*/
/*        margin-left: 0%;*/
/*        width: 100%;*/
/*    }*/
/*}*/