.wrapper{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #181a27;
    z-index: 9;
}
.content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 15px;
}
.list{
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
}


.logo{
    font-family: 'Bodoni Moda', serif;
}
.link {
    font-weight: 400;
    transition: all 0.3s ease-out 0s;
    position: relative;
    z-index: 1;
}

.link::after {
    content: "";
    position: relative;
    display: block;
    height: 5px;
    width: 0;
    border-radius: 16px;
    background: #a9afc3;
    bottom: 1px;
    left: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.link:hover::after {
    width: 100%;
}