.wrapper {
    padding: 0 15px;
}

.content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.block p {
    text-align: center;
}

.list {
    margin: 20px auto;
    padding: 0;
    list-style-type: none;
    max-width: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.iconFooter {
    fill: #07080a;
    width: 40px;
    height: 40px;
    font-size: 4.5em;
    padding: 10px;
    opacity: 0.93;
    vertical-align: middle;
    text-align: center;
    display: table;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.972);
    border-radius: 50%;
    transition: 0.5s;
}

.iconFooter:hover {
    transform: scale(1.05);
}
.description{
    font-size: 8px;
}