.content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 15px;
}
.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title{
    margin: 0 0 60px 0;
    font-size: 45px;
    font-weight: 800;
    color: white;
    text-align: center;
}
@media  (max-width: 576px){
    .block{
        justify-content: center;
    }
}