.wrapper{
    padding: 120px 15px;
    background: lavenderblush;
}
.block{
    border: 1px salmon solid;
}
.block p {
    text-align: center;
}
.form_wrapper{
    border: 1px solid blue;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}