.wrapper{
    padding: 120px 15px;
}
.content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.block{

}

.title{
    font-weight: 800;
    margin: 0 0 60px 0;
    font-size: 45px;
    color: white;
    text-align: center;
}
.form_wrapper{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form_input{
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: 1px solid #cbd3d9;
    background-color: transparent;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 500;
    margin-bottom: 30px;
    padding-left: 12px;
    outline: none;
}
.btn {
    display: block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn:hover {
    background-color: #DBE7F2;
}
.btn:active {
    transform: scale(0.96);
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}